# This file defines code owners for the PanthEON SDK repository
# Code owners are automatically requested for review when someone opens a PR

* @GolemXlV @k1llzz @polkadot21

/docs/ @GolemXlV @polkadot21 @k1llzz
*.md @GolemXlV @polkadot21 @k1llzz
/README.md @GolemXlV @polkadot21 @k1llzz

/pyproject.toml @GolemXlV @mrvladd-d
/poetry.lock @GolemXlV @mrvladd-d
/.github/ @GolemXlV @mrvladd-d

/scripts/ @GolemXlV @mrvladd-d

/packages/ @GolemXlV @k1llzz

/.github/workflows/ @GolemXlV @mrvladd-d

/LICENSE @GolemXlV @k1llzz @polkadot21 @mrvladd-d
