# This file defines code owners for the PanthEON SDK repository
# Code owners are automatically requested for review when someone opens a PR

* @GolemXlV @k1llzz @polkadot21

/docs/ @polkadot21 @k1llzz
*.md @polkadot21 @k1llzz
/README.md @polkadot21 @k1llzz

/pyproject.toml @GolemXlV @drobotukhin
/poetry.lock @GolemXlV @drobotukhin
/.github/ @GolemXlV @drobotukhin

/scripts/ @GolemXlV @drobotukhin

/packages/ @GolemXlV @k1llzz

/.github/workflows/ @GolemXlV @drobotukhin

/LICENSE @GolemXlV @k1llzz @polkadot21 @drobotukhin
